$icons: (
    check-fill: '\e900',
    dashboard: '\e901',
    edit: '\e902',
    info-fill: '\e903',
    layout: '\e904',
    plus-fill: '\e905',
    search: '\e906',
    theme: '\e907',
    trash: '\e908',
    arrow_down: '\e909',
    calendar: '\e90a',
);
